table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 65%;
    border: 2px solid #000000;
    margin: auto;
}

th, td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #72b3af;
}